*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about .mariuAuraLogo {
  text-align: center;
  margin: 10rem auto 25rem;
}

.about .mariuAuraLogo img {
  width: 500px;
}

.about .aboutCard {
  border: black 1px solid;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  
}

.aboutCard .aboutCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutCard .aboutCardWrapper p {
  width: 30%;
}

.aboutCard .aboutLine {
  margin: 1rem 0;
  width: 2rem;
  height: 3px;
  background-color: black;
}

.events .eventsCardsWrapper {
  margin-top: 2rem;
}

.eventsCardsWrapper .upperCards,
.eventsCardsWrapper .lowerCards {
  display: flex;
  margin-bottom: 2rem;
}

.eventsCardsWrapper .card {
  display: flex;
  width: 50%;
}

.eventsCardsWrapper .card img {
  width: 300px;
}

.eventsCardsWrapper .card .cardDescription {
}

