*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ABOUT */

.about {
  height: 53rem;
  background: url('/images/papildoma_paslauga/about-background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about .mariuAuraLogo {
  text-align: center;
}

.about .mariuAuraLogo img {
  margin-top: 3rem;
  width: 35%;
}

.about .aboutCard {
  padding: 1rem;
  margin: 0 auto 1rem;
  width: 50%;
  font-size: 1.3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.aboutCard .aboutCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutCard .aboutCardWrapper p {
  /* width: 50%; */
}

.aboutCard .aboutLine {
  margin: 1rem 0;
  width: 2rem;
  height: 3px;
  background-color: white;
}

/* EVENTS */

.events {
  margin-top: 5rem;
}

.events .eventsHeading {
  display: block;
  width: 20%;
  margin: 0 auto 5rem;
  /* transform: translate(50%); */
}

.eventsCardsWrapper .upperCards,
.eventsCardsWrapper .lowerCards {
  display: flex;
  margin-bottom: 2rem;
}

.eventsCardsWrapper .card {
  display: flex;
  width: 50%;
  background: #fcf8ed;
}

.eventsCardsWrapper .card img {
  width: 50%;
}

.eventsCardsWrapper .card .cardDescription {
  text-align: center;
}

.eventsCardsWrapper .card .cardDescription h3 {
  margin: 3rem;
  font-size: 1.75rem;
  font-weight: 300;
}

.eventsCardsWrapper .card .cardDescription p {
  margin: 0 auto;
  font-size: 1.4rem;
  width: 70%;
}
/* MAIN INFO */

.mainInfo h2 {
  text-align: center;
  margin: 2rem;
}

.mainInfo .mainInfoWrapper {
  margin: 0 auto;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.mainInfoWrapper .infoWrapper {
  display: flex;
}

.mainInfoWrapper .infoWrapper .infoText {
  width: 50%;
}

/* CONTACTS AND FORM */

.contactsForm .contactsFormWrapper {
  display: flex;
}

.contactsFormWrapper form {
  display: flex;
  flex-direction: column;
  width: 30%;
}