@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poiret+One&family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Red+Hat+Text:wght@300&family=Taviraj:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Red Hat Text';
}

/* HEADER */

nav{
    width: 100%;
    height: 50px;
    background-color: #0005;
    line-height: 50px;
}

nav ul{
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}

nav ul li:hover{
    background-color:#088;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

/* ABOUT */

.about {
  height: 59rem;
  background: url('/images/papildoma_paslauga/about-background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about .mariuAuraLogo {
  text-align: center;
}

.about .mariuAuraLogo img {
  margin-top: 3rem;
  width: 35%;
}

.about .aboutCard {
  padding: 2rem;
  margin: 0 auto 1.5rem;
  width: 50%;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(51, 47, 22, 0.75);
  background-color: rgb(252, 237, 223, 0.85);
  color: black;
  border-radius: 10px;
}

.aboutCard .aboutCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutCard .aboutLine {
  margin: 1rem 0;
  width: 2rem;
  height: 3px;
  background-color: black;
}

/* EVENTS */

.events {
  background-color: #fceddf;
}

.events .eventsHeading {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 5rem 0 9rem;
}

.eventsCardsWrapper .upperCards,
.eventsCardsWrapper .lowerCards {
  display: flex;

}

.eventsCardsWrapper .card {
  display: flex;
  width: 50%;
  background: #fcf8ed;
}

.eventsCardsWrapper .card img {
  width: 50%;
  height: min-content;
}

.eventsCardsWrapper .card .cardDescription {
  text-align: center;
  height: min-content;
}

.eventsCardsWrapper .card .cardDescription h3 {
  margin: 2vw;
  font-size: 2vw;
  font-weight: 300;
}

.eventsCardsWrapper .card .cardDescription p {
  margin: 0 auto;
  font-size: 1.2vw;
  width: 70%;
}
/* MAIN INFO */

.mainInfo {
  background: url('../images/papildoma_paslauga/main-info-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mainInfo .mainInfoWrapper {
  padding: 0 2rem 2rem;
  transform: translateX(-49.9%);
  margin: 0 auto;
  width: 50%;
  background-color: rgba(90, 80, 76, 0.8);
  color: rgba(252, 248, 237, 0.8)
}

.mainInfo .mainInfoWrapper h2 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0 4rem;
}

.mainInfoWrapper .infoWrapper {
  display: flex;
}

.mainInfoWrapper .infoWrapper .infoText {
  font-size: 1.5rem;
  width: 50%;
  margin: 0 2rem 1rem;
  line-height: 2rem;
}

/* CONTACTS AND FORM */

.contactsForm {
  width: 100%;
  background-color: #fceddf;
}

.contactsForm .contactsFormWrapper {
  display: flex;
  justify-content: center;
}

.contactsFormWrapper .contactsSocMediaWrapper {
  text-align: center;
  padding: 6.5rem;
}

.contactsSocMediaWrapper .contacts {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.contactsSocMediaWrapper .contacts h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0;
}

.contactsSocMediaWrapper .socMedia i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.contactsFormWrapper form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 3rem;
}

.contactsFormWrapper form h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.contactsFormWrapper form label {
  font-size: 1.1rem;
}

.contactsFormWrapper form input{
  font-size: 1.2rem;
}

.contactsFormWrapper form textarea {
  resize: none;
  margin-bottom: 1rem;
}

.contactsFormWrapper form button {
  padding: 10px 20px;
  width: fit-content;
  height: fit-content;
  border-color: rgba(0, 0, 0, 0.7);
  background-color: #fceddf;
  font-size: 1.4rem;
  margin: 0 auto;
}

/* FOOTER */

footer {
  background-color: #d1e4f2f8;
  padding-top: 10px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.37) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, 0.342) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  
}
footer section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}
footer #left{
  padding: 5px;
  line-height: 30px;
}
footer #left > p {
  font-family: 'Tavijar';
  font-size: large;
  margin: 10px auto;
  letter-spacing: 2px;
}
footer i {
  padding-right: 10px;
  
}
footer img {
  height: 120px;
  margin: 0 auto;
}
footer .address {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  padding-left: 10px; 
}
footer .address div {
  display: flex;
  align-items: center;
}
footer .address div p, footer .address div a {
  font-family: 'Tavijar';margin: 0;
}
footer section#right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  font-family: 'Tavijar';
  font-size: large;
}
footer .soc-networks {
  text-align: center;
}
footer a {
  color: inherit;
}

footer ul {
  list-style-type: none;
}
.copyrights p {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
}