/* INTERNAL IMPORTS */
@import url(./header.css);
@import url(./footer.css);

/* EXTERNAL IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poiret+One&family=Tinos:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Red+Hat+Text:wght@300;600&family=Taviraj:wght@100&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Red Hat Text";
}

/* VARIABLES */

:root {
  /* Melyna */
  --color-card-theme: #b2c8df;
  --color-card-theme-darker: #5a95b3;
  --color-card-bg: #fff;
  --color-modal: #0000009c;
  --card-scale-transition: transform 0.12s linear 0s;
}

/* GENERAL */
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

/* MAIN */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-block: 1rem;
  flex: 1;
}

.main_text {
  width: 100%;
  text-align: center;
  background-image: url(../images/pramogos/sea_bridge.jpg);
  background-size: cover;
  background-position: center;
  padding-block: 3rem;
  position: relative;
  padding-inline: 5px;
}
.main_text::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000b4;
  position: absolute;
  top: 0;
  left: 0;
}
.main_text > * {
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  position: relative;
}

.main_text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Bodoni Moda";
}

.cardsDisplaySection {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(295px, 300px));
  gap: 2rem;
  padding: 1rem;
}

.pramoguKortele {
  height: fit-content;
  border-radius: 10px;
  background-color: var(--color-card-bg);
  transition: var(--card-scale-transition);
}

.pramoguKortele figure {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.pramoguKortele img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.pramoguKortele .cardText {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  position: relative;
  border: 1px solid var(--color-card-theme);
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

.pramoguKortele .cardText > * {
  margin-bottom: 0.5rem;
}

.pramoguKortele .cardDescription {
  margin-top: 1rem;
  display: none;
}

.pramoguKortele .reveal-description {
  display: block;
}

.pramoguKortele .cardTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

/* Button Placiau */
.buttonPlaciau {
  background-color: var(--color-card-theme);
  border-radius: 0 5px 5px 0;
  width: 100px;
  padding: 5px;
  padding-left: 11px;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 0.9;
  font-weight: bold;
  position: relative;
  left: -1rem;
}
.buttonPlaciau:hover {
  background-color: var(--color-card-theme-darker);
  cursor: pointer;
}
.buttonPlaciau:active {
  background-color: var(--color-card-theme);
}

/* MODAL */

.modal-background {
  width: 100%;
  height: 100%;
  background-color: var(--color-modal);
  position: absolute;
  z-index: 5;
  top: 0;
  animation: go_visible 0.3s ease-in-out;
}
.modal-content {
  z-index: 10;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: min(400px, 100%);
  border: 10px solid #fff;
  animation: go_visible 0.09s ease-in-out;
}

/* Korteles hover */
.hover-card:hover {
  transform: scale(1.05);
}
.blocked-scrolling {
  overflow: hidden;
}

/* FOOTER */
@keyframes go_visible {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
